@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  background-color: #ef9d51;
}

body {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

::selection {
  background: #ccff00;
  color: black;
}

.gradient-text {
  background: linear-gradient(
    to right,
    #eda460 0%,
    #edce60 20%,
    #c0ed60 40%,
    #04a985 90%
  );
  -webkit-background-clip: text;
  color: transparent;
  background-clip: text;
}
